kedro~=0.18.6  # python <3.11
kedro-viz
kedro-datasets[pandas.CSVDataSet, matplotlib.MatplotlibWriter]~=1.0.0
kedro-mlflow
pandas
geopandas
tqdm
unidecode
black
srai[all] @ git+https://github.com/srai-lab/srai.git
ipykernel
ipywidgets
mapclassify
folium
matplotlib
pytorch-lightning[extra]
tensorboard
torch-tb-profiler
scikit-learn
contextily
rasterio
