kedro~=0.18.11  # python <3.11
kedro-viz
-e file:///home/calychas/Projects/kedro-plugins/kedro-datasets
kedro-mlflow
pandas
geopandas
tqdm
unidecode
black
srai[all]
ipykernel
ipywidgets
mapclassify
folium
matplotlib
pytorch-lightning[extra]
tensorboard
torch-tb-profiler
scikit-learn
contextily
rasterio
